body {
    background-color: #E6E3DF;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1E3147;
    color: white;
    z-index: 9;
    --bs-navbar-color: #ffffff;
}

header:hover{
    --bs-navbar-color: #b6b6b6;
}

.navbar {
    --bs-navbar-color: #ffffff;
}

.logo {
    width: 70px;
    height: 70px;
}


.carousel {
    max-width: 82%;
    height: 420px;
    min-width: 700px;
    margin: 120px auto 0;
    border-style: solid;
    border-color: #1E3147;
    border-width: 10px;
    color: #1E3147;
    border-radius: 30px;

}

.carousel img {
    height: 400px;
    width: 80%;
    min-width: 700px;
    border-radius: 19px;
}



.card {
    border-radius: 15px;
    border-color: #1E3147;
    padding: 5px;
    height: max-content;
    margin-bottom: 50px;

}

.card-img-top{
    border-bottom-color: #1E3147;
    border-bottom: 20px;
    border: 20px;
}

.card-body a{
    background-color: #1E3147;
    color: white;
}

.card-body a:hover{
    background-color: #4670a0;
    color: 1E3147;
}

.mt-4{
    height: max-content;
}