body {
    font-family: Arial, sans-serif;
    background: #1E3147;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formLabel{
    padding: auto;
}
.Email{
    margin-bottom: auto;
    padding: 5%;
}
.border{
    border-radius:75px;
}
.corBnt{
    background-color: #4A596B;
    color : white;
    font-weight: bold;
    border-radius: 75px;
}

.fundoRecuperacao{
    background-color: #E6E3DF;
    border-radius: 10px;
    padding: 20px;
    min-width: 250px;
    width: 50%;
    padding: 10%;
}

.corBnt:hover {
    background-color: #1E3147;
    color: white;
    transform: scale(1.05);
}
