body {
    font-family: Arial, sans-serif;
    background: #1E3147;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corBnt {
    background-color: #7A828C;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    width: 25%;
    min-width: 100px; 
}

.corBnt:hover {
    background-color: #1E3147;
    color: white;
    font-weight: bold;
    transform: scale(1.05);
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100px;
    height: auto; 
}

h1 {
    font-family: 'Estedad-VF';
    font-style: normal;
    color: #7A828C;
    text-align: center;
    font-weight: 900;
}

label {
    padding-left: 20px;
    color: #7A828C;
    font-size: 15px;
}

.borda {
    border-radius: 50px;
    min-width: 200px;
}

.fundoRecuperacao {
    background-color: #E6E3DF;
    border-radius: 10px;
    padding: 20px 60px;
    width: 50%;
    min-width: 300px;
}

p#error-message, p#verify-message {
    color: rgba(33, 33, 37, 0.338);
    display: none;
    margin-top: 10px;
    text-align: center;
}

a {
    color: #1E3147;
    font-weight: bolder;
}

.spanRecuperacao {
    font-size: 11px;
}